/* Slide in from LEFT */
@keyframes fadeslidefromleft {
    from {
        transform: translateX(-10vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Slide in from RIGHT */
@keyframes fadeslidefromright {
    from {
        transform: translateX(10vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Slide in from TOP */
@keyframes fadeslidefromtop {
    from {
        transform: translateY(-5vw);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Slide in from BOTTOM */
@keyframes fadeslidefrombottom {
    from {
        transform: translateY(5vw);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation classes */

.fade-slide-from-top-anim {
    animation: fadeslidefromtop 0.5s;
}
.fade-slide-from-right-anim {
    animation: fadeslidefromright 0.5s;
}
.fade-slide-from-left-anim {
    animation: fadeslidefromleft 0.5s;
}
.fade-slide-from-bottom-anim {
    animation: fadeslidefrombottom 0.5s;
}
