/* Slide in from LEFT */

@keyframes fadeslidefromleft {
    from {
        transform: translateX(-10vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-slide-from-left-anim {
    animation: fadeslidefromleft 0.5s;
}

/* Slide in from RIGHT */

@keyframes fadeslidefromright {
    from {
        transform: translateX(10vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-slide-from-right-anim {
    animation: fadeslidefromright 0.5s;
}

/* Slide in from TOP */

@keyframes fadeslidefromtop {
    from {
        transform: translateY(-5vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-slide-from-top-anim {
    animation: fadeslidefromtop 0.5s;
}