
.page-enter-active,
.page-leave-active {
    transition-property: transform, opacity;
    transition-duration: 0.2s;
}

.page-enter-active {
    transition-delay: 0.2s;
}

.page-enter-from {
    opacity: 0;
    transform: translateY(-10vh);
}

.page-leave-to {
    opacity: 0;
    transform: translateY(10vh);
}

@media (prefers-reduced-motion:reduce) {
    .page-enter-active,
    .page-leave-active {
        transition-duration: 0;
    }
}